@using VincereSharp
@{
    ViewData["Title"] = "Home Page";

}

<div class="row">
    <div class="col-md-3">
        <div class="container">
            <h1>Vincere Login page</h1>
            <a href="@ViewData["LoginUrl"]" class="btn btn-primary">Login to Vincere</a>
        </div>
    </div>
</div>
